/* src/components/Header.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.custom-navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.header-title {
  font-size: 1.2rem; /* Adjust size as needed */
  font-weight: 500;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  margin-left: 1.5rem;
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #0073e6;
  text-decoration: underline;
}
